.collection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Выравнивание по горизонтали и вертикали по центру */
    padding-left: 20px; /* Левый отступ */
    padding-right: 20px; /* Правый отступ */
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; /* Максимальная ширина контейнера для айтемов */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 30px 20px; /* Левый и правый отступы */
  }