.mySwiper {
  width: 100%;
  max-width: 1240px;
  height: 400px;

  @media screen and (max-width: 1240px) {
    width: 100%;
    max-width: 100%;
  }

  @media screen and (max-width: 768px) {
    height: 200px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  color: hotpink;
}
.swiper-button-prev {
  color: hotpink;
}
.swiper-pagination-bullet-active {
  background-color: hotpink;
}

.swiper-slide img {
  background-color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
