.collection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1230px;
  margin: 0 auto;
}

.ItemBlock {
  flex-basis: calc(25% - 20px); /* 25% minus 20px margin to achieve 4 items per row */
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
  height: 450px;
  width: 280px;
  margin: 5px;
}

.ItemBlock:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}

.NewPhotos {
  display: flex;
  justify-content: center;
}

.Item-container {
  position: relative;
  border-radius: 30px;
  top: -20px;
  padding: 10px;
}

.image-container {
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  transition: opacity 0.3s;
  opacity: 0;
}

.image-container:hover::before {
  opacity: 1;
}

.ItemBlockParag {
  text-align: center;
  font-family: sans-serif;
  color: black;
  z-index: 1;
}

.ItemBlockParag .link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  z-index: 1;
}

.Stock,
.Sold {
  margin-top: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.Price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.expand-details {
  position: relative;
  margin-top: 10px;
  background-color: red;
  text-align: center;
  opacity: 0;
  transition: height 0.3s, opacity 0.3s;
}

.ItemBlock:hover .expand-details {
  height: 30px;
  opacity: 1;
}

.details-button {
  padding: 8px 0;
  color: white;
  cursor: pointer;
  background-color: red;
  text-decoration: none;
}

.Rating {
  color: rgb(31, 214, 31);
}
