/* ItemBlock.scss */

.ItemBlock {
  display: grid;
  grid-template-columns: repeat(
    minmax(250px, 3fr)
  ); /* Автоматическое распределение карточек по горизонтали */
  gap: 20px; /* Расстояние между карточками */
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
  margin: 20px;
}

.ItemBlock:hover {
  transform: translateY(-8px); /* Увеличиваем смещение при наведении */
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3); /* Увеличиваем тень при наведении */
}
.NewPhotos {
  display: flex;
  margin: 0;
  justify-content: center;
}

.Item-container {
  padding: 14px;
  border-radius: 30px;
}

.image-container {
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  transition: opacity 0.3s;
  opacity: 0;
}

.image-container:hover::before {
  opacity: 1;
}

.ItemBlockParag {
  text-align: center;
  font-family: sans-serif;
  color: black;
  z-index: 1;
}

.ItemBlockParag .link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  z-index: 1;
}

.Stock,
.Sold {
  margin-top: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.Price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.expand-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: red;
  text-align: center;
  opacity: 0;
  transition: height 0.3s, opacity 0.3s;
  z-index: 2;
  overflow: hidden;
}

.Item-container:hover .expand-details {
  height: 30px;
  opacity: 1;
}

.details-button {
  padding: 8px 0;
  color: white;
  cursor: pointer;
  background-color: red;
  z-index: 3;
  text-decoration: none;
}

.Rating{
  color: rgb(31, 214, 31);
}