
.NewSliderText {
  font-size: 20px;
  color: rgb(89, 88, 88);
  font-weight: 2;
  margin-left: 44px;
  margin-bottom: 20px;
}

.NewPhotos {
  display: flex;
  margin-top: 18px;
  justify-content: center;
}

.NewPhotos img {
  width: 258px;
  height: 258px;
  border-radius: 0px;
  border: 1px solid #00000000;
  margin: 20px;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .NewPhotos,.NewSlider{
      flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
      margin-left: auto; /* Центрируем блоки по горизонтали */
      margin-right: auto;
      width: 85%; /* Занимают 50% ширины родительского контейнера */
      font-size: 16px;
  }
 
  
}
@media (max-width: 768px) {
      .NewSlider{
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    margin-left: 32.7%; /* Центрируем блоки по горизонтали */
    width: 50%; /* Занимают 50% ширины родительского контейнера */
  }
  .NewSliderText{
      margin-left: 268px;
  }
}
@media (max-width: 425px) {

}
@media (max-width: 375px) {
 .NewSlider{
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    margin-left: 35.5%; /* Центрируем блоки по горизонтали */
    width: 50%; /* Занимают 50% ширины родительского контейнера */
  }
  .NewSliderText{
      margin-left: 330px;
  }
}

@media (max-width: 320px) {
  .NewSlider{
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    margin-left: 36.5%; /* Центрируем блоки по горизонтали */
    width: 50%; /* Занимают 50% ширины родительского контейнера */
  }
  .NewSliderText{
      margin-left: 335px;
  }
}
