// NewsWall.scss

.HitNewsWall {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 1242px;
  margin: 0 auto;
  height: 472px;
  flex-shrink: 0;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

.NewsWallText {
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
  width: 1231px;
  height: 64.5px;
  flex-shrink: 0;
}

.NewsWallPhotos {
  display: flex;
  justify-content: space-around;
}

.NewsWallPhotos img {
  width: 370px;
  height: 370px;
  border-radius: 25px;
}

.image-containerNewsWallOne,
.image-containerNewsWallTwo,
.image-containerNewsWallThree {
  display: flex;
  flex-direction: column;
}

.image-containerNewsWallOne:hover,
.image-containerNewsWallTwo:hover,
.image-containerNewsWallThree:hover {
  color: red;
}

.Date {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
  padding-top: 20px;
}

.p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1024px) {
  .HitNewsWall {
    width: 90%;
  }

  .NewsWallText,
  .NewsWallPhotos {
    width: 100%;
  }

  .NewsWallPhotos img {
    width: 100%;
    height: auto;
  }

  .image-containerNewsWallOne,
  .image-containerNewsWallTwo,
  .image-containerNewsWallThree {
    flex-basis: 100%;
  }
}

.CenteredNewsWall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
