.categories {
  display: flex;
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin-right: 550px;
  }

  li {
    width: 90px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 12px;
    text-align: center;
    margin: 0 10px 0 10px;
  
  }

  li.active {
    background-color: #A4161A;
    color: #fff;
    border-radius: 12px;

  } 
}
