.categories {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
  }

  li {
    width: 150px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 5px;
    text-align: center;
    margin: 30px 13px 30px 15px;
  }

  li.active {
    background-color: hotpink;
    color: #fff;
    border-radius: 5px;
  }
}
