.categories {
  display: flex;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin-right: 550px;
    margin-top: 20px;
  }

  li {
    width: 90px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 12px;
    text-align: center;
    margin: 0 10px 0 10px;

  }

  li.active {
    background-color: #c91332;
    color: #fff;
    border-radius: 12px;

  }
}
@media(max-width: 1024px){
  .categories{
  // overflow: auto;
    width: 800px;
    ul{
      width: 800px;
      overflow: auto;

    }
  }
}
@media(max-width: 689px){
  .categories{
    max-width: 700px;
    ul{

      transform: translateX(50%);

    }
  }
}