.container5 {
  max-width: 70%; /* Адаптировано для лучшей отзывчивости */
  margin: 0 auto; /* Центрирование контейнера */
  font-family: 'Montserrat';
}

.title5 {
  margin-bozttom: 32px;
  font-weight: 400;
  font-size: 40px;
  color: #000;
  font-family: 'Montserrat';
  line-height: normal;
  font-style: normal;
  text-align: center; /* Центрирование текста */
}

.description {
  font-size: 24px;
  color: #000;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: normal;
  text-align: justify; /* Правка выравнивания текста */
}