
.WrapperCart{
position: relative;

.cart {
  position: absolute;
  display: flex;
  right: 3200px;
  z-index: 1000;
  right: 20px;
  top: 40px;

  .cart-icon {
    color: rgb(20, 20, 20);
    font-size: 24px;
    z-index: 100px;
    &:hover {
      color: red;
    }
  }
}
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 0px;
      
    }
  }
}

@media screen and (max-width: 1024px){
  .WrapperCart{
    position: relative;
   p{
       margin-bottom: 0px;
   }
    .cart {
      right: 205px;
      cart-icon {
        color: rgb(20, 20, 20);
        font-size: 12px;
        &:hover {
          color: red;
        }
      }
    }
      ul {
        top: 30px;
      }
    }
    
  }

  @media screen and (max-width: 389px) {
    .WrapperCart{
     
      
      .cart {
     right: 489px;
     top: 14px;
     font-size: 12px;
        .cart-icon {
          
          &:hover {
           
          }
        }
      }
     
        
      }
  }
