.acceptModal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1001;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  align-items: right;
  justify-content: center;
  margin-left: 435px;
  margin-top: 20px;
}

.acceptModal.acceptActive {
  opacity: 1;
  pointer-events: all;
}

.acceptModal__content {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  height: 100px;
  width: 250px;
  border: 2px solid rgb(230, 57, 164);
  transform: scale(0.5);
  transition: 0.4s all;
  position: relative;
}
.acceptModal__content.acceptActive {
  transform: scale(1);
}
.textLoc {
  font-size: 19px;
  font-family: sans-serif;
}

.Local-Wrapper{
  position: relative;
}

.btn1 {
  position: absolute;
  margin: 10px;
  margin-top: -20px;
  width: 85px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
}
.btn2 {
  position: absolute;
  margin: 10px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  right:5px;
  top: 34px
}
.btn1:hover {
  background-color: black;
  color: white;
}
.btn2:hover {
  background-color: black;
  color: white;
}
