.Wrapper-Catalog {
  position: relative;
  margin-bottom: 30px;
}

.navbar {
  position: absolute;
  background-color: white;
  height: 20px;
  width: 20px;
  top: -30px;
  left: 90px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: white;
  border: 2px solid hotpink;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px rgba(245, 40, 145, 0.2);
  width: 350px;
  height: 0; /* Изменено на 0, чтобы начать с нулевой высоты */
  display: none; /* Изменено на display: none; */
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 0; /* Изменено на 0 */
  z-index: 3;
  transition: height 0.3s ease-in-out; /* Добавлена анимация для height */
}

.nav-menu.active {
  height: 68vh; /* Изменено высота для активного состояния */
  display: block; /* Изменено на display: block; */
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 60px;
  font-size: 20px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.nav-text a:hover {
  background-color: #e7e7e7;
  border-radius: 12px;
}

.nav-menu-items {
  width: 100%;
}

span {
  margin-left: 16px;
}

span:hover {
  cursor: pointer;
  color: hotpink;
}

.title-Category {
  position: absolute;
  left: 130px;
  width: 1260px;
  height: 0; /* Изменено на 0, чтобы начать с нулевой высоты */
  background-color: rgb(252, 252, 252);
  color: black;
  z-index: 2;
  border-radius: 12px;
  border: 2px solid hotpink;
  left: 0; /* Изменено на 0 */
  top: 20px;
  padding-left: 400px;
  padding-top: 30px;
  font-size: 17px;
  line-height: 2px;
  display: none; /* Изменено на display: none; */
  transition: height 0.3s ease-in-out; /* Добавлена анимация для height */
}

.title-Category.active {
  height: 68vh; /* Изменено высота для активного состояния */
  display: block; /* Изменено на display: block; */
}

.subcategories {
  list-style: none;
  font-size: 20px;
  line-height: 40px;
}

.subcategories:hover {
  cursor: pointer;
  color: hotpink;
}