.nav-container {
  position: relative;
  top: -83px;

  .search-input {
    position: absolute;
    width: 250px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 15px;
    border: none;
    left: 173px;
    z-index: 100;
    padding-left: 20px;
    font-size: 18px;
}
    .clearIcon {
      position: absolute;
      width: 18px;
      height: 18px;
      opacity: 0.3;
      left: 410px;
      margin-top: 15px;
      z-index: 100;
      cursor: pointer;

      &:hover {
        opacity:0.8;
      }
    }
  
}
@media screen and (max-width: 1024px)and (min-width: 900px){
  .nav-container{
    .search-input{
      width: 190px;
      left: 210px;
    }
  }
  .clearIcon{
    
  }
}
@media screen and (max-width: 768px)and (min-width: 500px){
  .nav-container{
    .search-input{
      width: 140px;
      left: 290px;
      height: 40px;
      top: 5px;
    }
  }
}

@media screen and (max-width: 850px)and (min-width: 500px){
  .nav-container{
    .search-input{
      width: 120px;
      left: 310px;
      height: 40px;
      top: 5px;
    }
  }
}

@media screen and (max-width: 450px)and (min-width: 200px){
  .nav-container{
    .search-input{
      display: none;
      
    }
  }
  .clearIcon{

  }
}
