.BBox{
  margin: 10%;
  max-width: 70%;
  h4{
    text-align: left;
  font-size: 1.3rem;
  font-weight: 100;
  }
  h3 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 100;
}
.TitleBox {
  margin: 20px;
  margin-left: 120px;
  max-width: 80%;
}
.ProductBox {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: 70vw;
  height: 80vh;
  margin-left: 10%;
  border-radius:10px;
  border-top: 25px solid #991b1b;
  background-color: #f8fafc;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
.ProductImage {
  max-width: 300px;
  max-height: 290px;
  height: 40%;
  width: 95%;
  margin-left: 2%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
}
.Mainbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
.PriceBox{
  height: 80px;
  width:  100%;
  background-color: white;
  margin-left: auto;
  border-radius: 10px;
  line-height: 40px;
  box-shadow: 0px 0px 10px 1px rgba(34, 60, 80, 0.2);
  margin-bottom: 5px;
  .PriceTag{
    font-size: 1.3rem;
    margin-left: 45px;
    margin-top: 5px;
    .price{
      word-spacing: -3px;
    }
  }

  .OrderDate{
    margin-left: 18px;
    margin-top: 5px;
    font-size: 0.7rem;
    opacity: 0.6;
    margin-top:-10px
  }
}

.addButton{
  display:flex;
  align-items: center;
  margin-top: -70px;
  font-family: 'Quicksand', sans-serif;
  
  .addtocart {
    padding: 2px;  
    border-radius: 10px;
    font-size: 0.9rem;
    background: #c53131;
    cursor: pointer;
    width: 100px;
    overflow: hidden;
    transition: transform 0.1s;
    z-index: 1;
    margin-left: 44%;
    text-align: center;
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, .2);
    position: relative;
    color: #fff;
    border:none;
    outline: 0;
     &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 7px 5px rgba(202, 49, 49, 0.2);
    }
  }

  .MinusCart{
    background-color: #c53131;
    height:30px;
    width: 30px;
    border-radius: 10px;
    margin-left: 10px;
    color: #fff;
    font-size:20px;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    cursor: pointer;  
    border:none;
    outline: 0;
    z-index: 1;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
    &:hover{
      transform: scale(1.1);
      box-shadow: 0px 0px 6px 5px rgba(202, 49, 49, 0.2);
      
    }
  } 
}
.ProductDetails {
  display: block;
  margin-left: auto;
  line-height: 30px;
  background-color:white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(34, 60, 80, 0.2);
  height: 320px;
  width: 250px;
  margin-bottom: 25px;
  .ProductDetailsList{
    border-bottom: 1px solid #991b1b;
  .ProductDetailsItem{
    margin-left: 10px;
  }
  }
  .Sales{
    margin-top:10px ;
    margin-left: 10px;
  }
}
}
.Description{
  line-height: 22px;
  height: 1.3rem;
  width: 340px;
  margin-top: -10%;
  margin-bottom: 200px;
  margin-left:5%;
}
}
@media (max-width:1600px) and (min-width: 1300px) {
  .ProductImage {
    max-width: 450px;
    max-height: 290px;
    height: 30%;
    width: 65%;
  }
  .Mainbox{
   height: 20vw;
   width:  20vw;
   margin-left: 390px;
  .PriceBox{
    height: 70px;
    width:  240px;
    margin-bottom: 20px;
    .PriceTag{
      font-size: 1.3rem;
      margin-left: 45px;
      margin-top: 5px;
      .price{
        word-spacing: -3px;
      }
    }
  
    
  }
  
  
  }
  .Description{
    margin-bottom: 140px;
    margin-left:45px
  }
}
@media (max-width: 450px) {
  .ProductBox {
    /* Установите желаемую высоту для .Mainbox */
    height: 1000px!important; 
  }
}

@media (max-width: 1390px) and (min-width: 1350px) {
  .Mainbox{
    margin-left: 620px;}
}