// Product.module.scss

.BBox {
  width: 60%;
  margin: 9rem auto;
  background-color: #fff; // Set background color if needed
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); // Subtle box shadow
  border-radius: 10px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #c91332;; // Red color
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  @media (max-width: 768px) {
    width: 90%;
  }
}

.TitleBox {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 20px 0 0 50px ;
}

.ProductBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ProductImage {
  max-width: 100%;
  width: 400px;
  height: 400px;
  margin-bottom: 1rem;
}

.Mainbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.PriceBox {
  margin-bottom: 1rem;
}

.PriceTag {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.price {
  color: #0066cc;
}

.OrderDate {
  font-size: 0.9rem;
  color: #888;
}

.addButton {
  display: flex;
  align-items: center;
}

.addtocart,
.MinusCart {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.addtocart {
  background-color: #4caf50;
  color: #fff;
  border: none;
  margin-right: 0.5rem;
  border-radius: 8px;
}

.MinusCart {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.ProductDetails {
  margin-top: 1.5rem;
}

.ProductDetailsList {
  display: flex;
  flex-direction: column;
}

.ProductDetailsItem {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.Sales {
  margin-top: 1rem;
}

.SalesItem {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.Description {
  margin-top: 2rem;
}

h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

// Media Query for smaller screens
@media (max-width: 768px) {
  .ProductBox {
    flex-direction: column;
  }
  .TitleBox {
    padding: 25px 0 0 0 !important ;
  }
}
