h3 {
  text-align: left;
  font-size: 50px;
  font-weight: 100;
}

.PriceTag1 {
  margin-left: 600px;
  margin-top: -420px;
}

.PriceTag2 {
  margin-left: 600px;
  margin-top: 0px;
}

.ProductDetails {
  display: block;
  margin-left: 600px;
}

.Sales {
  display: block;
  margin-left: 600px;
  margin-top: 10px;
}

.TitleBox {
  margin: 20px;
  margin-left: 120px;
}

.ProductBox {
  border: 2px solid #bfbebe;
  padding: 10px;
  width: 975px;
  height: 500px;
  margin-left: 123px;
}

.ProductImage {
  height: 400px;
  width: 400px;
  margin-left: 40px;
}

// ..............................

.fa-cart-plus {
  background: #0652dd;
}

.addtocart {
  display: block;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 100px;
  border: none;
  font-size: 2em;
  position: relative;
  background: #0652dd;
  cursor: pointer;
  height: 2em;
  width: 10em;
  overflow: hidden;
  transition: transform 0.1s;
  z-index: 1;
}
.addtocart:hover {
  transform: scale(1.1);
}
.pretext {
  color: #fff;
  background: #0652dd;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}
i {
  margin-right: 10px;
}
.done {
  background: #be2edd;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;

  transform: translate(-110%) skew(-40deg);
}
.posttext {
  background: #be2edd;
}
.fa-check {
  background: #be2edd;
}
