.Wrapper {
  display: flex;
  margin: 100px;
  justify-content: center;
  .content{
display: flex;

  }
  .Top{
display: flex;
justify-content: center;
    .title {
      font-size: 30px;


    }
    .back{
      font-size: 20px;
      margin-left: 15px;
      background-color: #d43447;
      padding: 5px;
      border-radius: 5px;
      color: #f3ebeb;
      &:hover {
        background-color: #f3ebeb;
        color: #d43447;
      }
    }
  }
  .CartItems{

  }
    .itemCart {
      display: flex;
      background-color: #f8fafc;
      max-width: 700px;
      width: 50vw;
      padding: 20px;
      border-radius: 5px;
      margin-top:20px;
      margin-bottom: 5px;
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
      min-width: 300px;
      img {
        height: 120px;
        width: 120px;
        margin-left: 10px;

      }

    .removeBox {
      cursor: pointer;
      background-color: #e8eef5;
      border-radius: 10px;
      height: 35px;
      display: flex;
      width: 35px;
      svg {
        margin: auto;
      }
      &:hover {
        background-color: #dae1e7;
        transition-delay: 0.05s;
      }
    }


    .title {
      position: absolute;
      margin-left: 155px;
      font-size: 19px;
      color:#313030 ;
      word-spacing: -.3ch;
    }
    .price {
      margin-left: auto;
      font-size: 20px;
      color:#313030 ;
    }

    .CartImage {
      border-radius: 10px;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    }

    .CountBox {
      width: 100px;
      height: 40px;
      position: absolute;
      border-radius: 3px;
      margin-top: 80px;
      margin-left: 150px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      background-color: #bb3b49;
      color: white;
      box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.1);

      .btn {
        border-radius: 5px;
        border: none;
        background-color: #bb3b49;
        color: white;
        font-size: 20px;
        align-self: center;
        cursor: pointer;
        &:focus{
          outline: 0;
        };
      }
    }
  }

  .Sidebox {
margin-left: auto;
    width: 100%;
    height: 300px;
    background-color: #fdfdff;
    margin-top:20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    color:#313030 ;
    .CartName {
      text-align: center;
      background-color: #f1f5f8;
      border-radius: 3px 3px 0px 0px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
      color:#313030 ;
      box-shadow: 0px 5px 5px 1px rgba(241,245,248,0.5);

    }
    .WrapperSum{
      margin-top: 20px;
      font-size: 17px;

      .sumItem{
        float: left;
        margin-left: 30px;
      }
      .sumPrice{
        float:right;
        font-size: 16px;
        margin-right: 50px;
      }

    }
    .BottomSide{
      text-align: center;
      .Payment{
        margin-top:50px ;
      }
      .buy{
        background-color: #e8eef5;
        border: none;
        font-size: 18px;
        padding: 10px;
        border-radius: 5px;
        margin-top: 130px;
      }

    }

  }
  @media (max-width: 725px) {
    .itemCart{

      .title{
        margin-left: 145px;
        font-size: 15px;
      }
      .price{
        font-size: 15px;
      }
      .CountBox {
        width: 60px;
        height: 20px;
        margin-top: 90px;
        margin-left: 150px;
        font-size: 15px;

        .btn{
          height: 20px;
font-size: 15px;
        }
      }
      .removeBox {
        margin-top: auto;
      }
    }
  }
}
