#footer {

  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 80vw;
    height: auto;
    flex-wrap: wrap;
    margin: 20px auto;
  }

  .footer-section {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;

    strong {
      color: #000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: 'Montserrat';
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: block;
      margin-bottom: 10px;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    .about-company,
    .wholesale,
    .social-links,
    .contact-info {
      display: flex;
      flex-direction: column;
    }

    .about-company a,
    .wholesale a,
    .social-links a,
    .contact-info a {
      margin-bottom: 10px;
    }

    .address {
      margin-top: 10px;
    }
  }
}
