/* Footer.scss */
#footer {
  hr.grad {
    border: none;
    height: 2px;
    background: black;
  }

  .AllCountainer {
    display: flex;
    justify-content: space-around;
    
    max-width: 90vw;
    height: 333px;
    flex-shrink: 0;
  }

  .СontainerCompany,
  .СontainerInformation,
  .СontainerComunication,
  .СontainerOurContact {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* Стили для блока "Компания" и подразделов */
  .Company {
    strong {
      color: #000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .About.company {
      padding-top: 20px;
    }
    .Stock {
      color: #000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  /* Стили для блока "Информация" и подразделов */
  .Information {
    strong {
      color: #000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .Wholesale {
      padding-top: 20px;
    }
    .Payment.methods,
    .Delivery.terms {
      color: #000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  /* Стили для блока "Способы связи" и иконок соцсетей */
  .Communication.methods {
    strong {
      color: #000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .Instagramm,
    .Telegramm {
      color: #000;
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 0px;

      a {
        display: inline-block;
        padding-top: 0px;

        svg {
          width: 37px;
          height: 47px;
          padding-top: 20px;
        }
      }
    }
  }

  /* Стили для блока "Наши контакты" */
  .СontainerOurContact {
    width: 218px;
height: 241px;
flex-shrink: 0;
    strong {
      color: #000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 20px;
    }

    .Telefon.number {
      color: #000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 20px;
    }

    .email.block {
      color: #000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      .work-time__text1 {
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .work-time {
      .work-time__text {
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

@media (max-width: 2560px) {
  .AllCountainer {
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    margin-left: auto; /* Центрируем блоки по горизонтали */
    margin-right: auto;
    width: 90%; /* Занимают 50% ширины родительского контейнера */
    margin-bottom: 30px; /* Увеличиваем расстояние между блоками */
  }

  .СontainerCompany,
  .СontainerInformation,
  .СontainerComunication,
  .СontainerOurContact {
    margin-right: 40px; /* Добавляем отступ между контейнерами */
  }
}
@media (max-width: 1600px) {
  .AllCountainer {
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    margin-left: auto; /* Центрируем блоки по горизонтали */
    margin-right: auto;
    width: 100%; /* Занимают 50% ширины родительского контейнера */
    margin-bottom: 30px; /* Увеличиваем расстояние между блоками */
  }

  .СontainerCompany,
  .СontainerInformation,
  .СontainerComunication,
  .СontainerOurContact {
    margin-right: 40px; /* Добавляем отступ между контейнерами */
  }
}
@media (max-width: 1366px) {
  .AllCountainer {
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    margin-left: auto; /* Центрируем блоки по горизонтали */
    margin-right: auto;
    width: 80%; /* Занимают 50% ширины родительского контейнера */
    margin-bottom: 30px; /* Увеличиваем расстояние между блоками */
  }

  .СontainerCompany,
  .СontainerInformation,
  .СontainerComunication,
  .СontainerOurContact {
    margin-right: 40px; /* Добавляем отступ между контейнерами */
  }
}
@media (max-width: 1024px) {
  .AllCountainer,
  footer {
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    margin-left: 5%; /* Центрируем блоки по горизонтали */
    margin-right: auto;
    width: 94%; /* Занимают 50% ширины родительского контейнера */
    margin-bottom: 0px; /* Увеличиваем расстояние между блоками */
  }

  .СontainerCompany,
  .СontainerInformation,
  .СontainerComunication,
  .СontainerOurContact {
    margin-right: 40px; /* Добавляем отступ между контейнерами */
  }
}
@media (max-width: 768px) {
  .AllCountainer,
  footer {
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    margin-left: 13%; /* Центрируем блоки по горизонтали */
    width: 85%; /* Занимают 50% ширины родительского контейнера */
    margin-bottom: 40px; /* Увеличиваем расстояние между блоками */
  }

  .СontainerCompany,
  .СontainerInformation,
  .СontainerComunication,
  .СontainerOurContact {
    margin-right: 80px; /* Добавляем отступ между контейнерами */
  }
}
@media (max-width: 425px) {
  .AllCountainer,
  footer {
    margin-left: 20%; /* Центрируем блоки по горизонтали */
    width: 80%; /* Занимают 50% ширины родительского контейнера */
    margin-bottom: 30px; /* Увеличиваем расстояние между блоками */
  }

  .СontainerCompany,
  .СontainerInformation,
  .СontainerComunication,
  .СontainerOurContact {
    margin-right: 80px; /* Добавляем отступ между контейнерами */
  }
}
@media (max-width: 320px) {
  .AllCountainer,
  footer {
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    margin-left: 21%; /* Центрируем блоки по горизонтали */
    margin-right: 0;
    width: 80%; /* Занимают 50% ширины родительского контейнера */
    margin-bottom: 30px; /* Увеличиваем расстояние между блоками */
  }

  .СontainerCompany,
  .СontainerInformation,
  .СontainerComunication,
  .СontainerOurContact {
    margin-right: 40px; /* Добавляем отступ между контейнерами */
  }
}
@media (max-width: 319px) and (min-width: 280px){
.AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 70vh;
}
}
@media (max-width: 359px) and (min-width: 320px){
.AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 45vh;
}
}
@media (max-width: 374px) and (min-width: 360px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 60vh;
}
}
@media (max-width: 389px) and (min-width: 375px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 65vh;
}
}
@media (max-width: 411px) and (min-width: 390px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 50vh;
}
}
@media (max-width: 413px) and (min-width: 412px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 50vh;
}
}
@media (max-width: 424px) and (min-width: 414px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 50vh;
}
}
@media (max-width: 429px) and (min-width: 425px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 45vh;
}
}
@media (max-width: 539px) and (min-width: 430px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 20vh;
}
}
@media (max-width: 767px) and (min-width: 540px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 30vh;
}
}
@media (max-width: 819px) and (min-width: 768px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 20vh;
}
}
@media (max-width: 911px) and (min-width: 820px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 10vh;
}
}
@media (max-width: 1023px) and (min-width: 912px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 0vh;
}
}
@media (max-width: 1279px) and (min-width: 1024px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center;/* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 0vh;
}
}
@media(min-width: 1280px){
  .AllCountainer,
footer {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}
#footer {
  margin-top: 0vh;
}
}