#footer {
  margin-left: 20px;
  text-align: center;
  

  .AllCountainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .СontainerCompany,
    .СontainerInformation,
    .СontainerComunication {
      flex: 1;
      text-align: left;

      .Company,
      .Information,
      .Communication {
        margin-bottom: 10px;

        strong {
          font-size: 18px; /* Adjusted font size for strong elements */
        }

        .About,
        .Stock,
        .Wholesale,
        .Payment,
        .Delivery,
        .Instagram,
        .Telegram {
          margin-top: 10px;
          font-size: 18px;

          a {
            color: #030303;

            &:hover {
              color: #070707;
            }
          }
        }
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  .title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .info {
      text-align: center;
      margin-right: 50px;

      .white_middle_text {
        color: #fff;
        font-size: 18px;
      }

      .block {
        margin-top: 10px;

        svg {
          fill: #fff;
          margin-right: 10px;
        }

        a {
          color: #ccc;
          text-decoration: none;
          font-size: 14px;

          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
