.katalog-container {
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    color: white;
    list-style-type: none;
  }
  li { 
    list-style-type: none;
  }
  .katalog-button {
    padding: 10px 20px;
    background-color:#EA88AD;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px 20px;
  }
  
  .katalog-content {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-height: 0;
    overflow: hidden; 
    transition: max-height 3s ease-in-out; 
    height: 75vh;
    border-radius: 4px;
    margin: 0 5px;
   
    color: white;
    list-style-type: none;
   
 }
 .katalog-content.open {   /* ЗДЕСЬ эти точки сраные*/
    max-height:200vh; /* длинна этого безобразия*/
    background-color: rgb(53, 50, 50);
    color: white;
    list-style-type: none;
   

  }
  
  .katalog-content p {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    color: white;
    list-style-type: none;
  }

  .sub-menu {
    padding-left: 10px;
    list-style: none;
    width: 100%; 
    color: white;
    list-style-type: none;
    left: 20 px;
    color: #ED1B24;
  }
 
.sub-menu li {
    margin-bottom: 5px;
    width: 100%; 
    color: white;
    list-style-type: none;
    color: #ED1B24;
  }
  
.sub-menu a {
    text-decoration: none;
    color: #666;
    display: block; 
    width: 100%; 
    color: white;
    list-style-type: none;
    color: #843B62;
  }
  
.submenu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    text-align: left;
    color: #333;
    width: 100%;
    color: white;
    list-style-type: none;
    color: #ED1B24;
  }
  
  
  