.katalog-container {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  color: white;
  list-style-type: none;
}

.katalog-button {
  position: relative;
  left: 118px;
  top:-37px;
  padding: 5px 10px 5px 10px ;
  background-color:hotpink;
  
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  vertical-align: middle;

}
.katalog-button:hover{
  background-color: #EA88AD;
}


.katalog-content {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  height: 75vh;
  border-radius: 4px;
  margin-top: 10px;
  background-color: white;
  border: 2px solid rgb(230, 57, 164);
}

.katalog-content.open {
  max-height: 400px; /* Подставьте нужную высоту */
  background-color: white;
  width: 1000px;
  font-size: large;
  margin-top: -20px;
}

.katalog-content p {
  margin: 0;
  padding: 5px;
  cursor: pointer;
  color: white;
}

.sub-menu {
  padding-left: 10px;
  list-style: none;
  width: 100%;
  color: white;
  font-size: large;
}

.sub-menu li {
  font-size: large;
  margin-bottom: 5px;
}

.sub-menu a {
  text-decoration: none;
  color: #843B62;
  display: block;
  margin-left: 20px;
  list-style-type: square ;
  
}

.submenu-button {
  height: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  text-align: left;
  color: #333;
  width: 100%;
  font: "Open Sans", Arial, sans-serif;
  
}
.submenu-button:hover{
  color: #5c5959;
}


.a {
  font-size: 20px;
}

