* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.sticky {
  position: sticky;
  top: 0;
  background-color: white; /* Подстройте по необходимости */
  z-index: 1100; /* Убедитесь, что шапка отображается выше другого контента */
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.1); /* Дополнительно: добавьте небольшую тень */
}
/* Сделать меню закрепленным вверху страницы с отступом */
.MainGui {
    position: sticky;
    top: 10px; /* Регулируйте отступ по вашему желанию */
    background-color: white;
    z-index: 1100;
}


header {
    color: black;
    padding-bottom: 1em;
    position: sticky;
    top: 0;
    background-color: white; 
    z-index: 1000; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainGui {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
}

.MainGui a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    border-radius: 4px;
    margin: 0 5px;
}

.MainGui a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

.navbar {
    overflow: hidden;
    background-color: #ffffff;
    font-family: sans-serif;
  }
  
  /* Ссылки в панели навигации */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Выпадающий контейнер */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    background-color: white;
    border-radius: 5px ;
    margin-left: 6px;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    margin-left: 6px;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Добавить серый цвет фона для выпадающих ссылок при наведении курсора */
  .dropdown-content .dropbtn a:hover {
    background-color: #000000;
  }
 
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
    color:white;
  }
  