*{
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.Foto {
    display: flex;
    align-items: center;
}
.Foto img{
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.Foto {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fotoItem {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: sans-serif;
  }

  .fotoItem img {
    width: 180px;
    height: 130px;
    border-radius: 2px;

  }

  .Foto p {
    margin-top: 10px; 
    font-family: sans-serif;
    color: black;
  }