hr {
  color: gray;
  margin: 30px;
}
hr.grad {
  border: none; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 2px;
  width: 1240px;
}
body {
  font: 15px/24px "Open Sans", Arial, sans-serif;

}
.HeaderWrapper {
margin-bottom: 90px;
}