.MainWrapper {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 90px;
  background-color: #c91332;
  z-index: 10;

  .Headerbox {
    overflow: hidden;

    a {
      color: black;
      text-decoration: none;
    }
    .GregaLogo {
      margin-left: 60px;
      height: 85px;
      width: 100px;
      float: left;
    }
    .Catalog {
      padding: 5px;
      display: flex;
      align-items: center;
      background-color: rgb(253, 254, 255);
      border-radius: 5px;
      font-size: 1.7rem;
      margin-left: 30px;
      
      height: 35px;
      float: left;
    }
    .Item {
      font-weight: 500;
      padding: 5px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      font-size: 1.4rem;
      margin-left: 30px;
      height: 35px;

      float: left;
    }
    .ItemNav {
      font-weight: 500;
      padding: 5px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      font-size: 1.4rem;
      margin-left: 30px;
      height: 35px;
      float: left;
      display:none;
    }
    .sign {
      font-family: 'Montserrat', sans-serif;
      float: right;
      font-size: 11.5px;
      margin-top: -40px;
      padding: 1px;
      cursor: pointer;
      margin-right: 210px;
      color: black;
    }
    .signUp {
      font-family: 'Montserrat', sans-serif;
      padding: 1px;
      font-size: 11.5px;
      float: right;
      margin-top: -40px;
      cursor: pointer;
      margin-right: 105px;
      color: black;
    }
    .signOut {
      font-family: 'Montserrat', sans-serif;
      font-size: 13.5px;
      float: right;
      padding: 1px;
      margin-top: -40px;
      cursor: pointer;
      margin-right: 180px;
      color: black;
    }
    .user {
      height: 33.5px;
      width: 33.5px;
      float: right;
      margin-top: -40px;
      margin-right: 115px;
    }
    
    .menu {
      display: none;
      align-items: center;
      font-size: 22px;
      line-height: 28px;
      gap: 30px;
      margin-top:30px ;
      display: flex;
      flex-direction: column;
      position: fixed;
      left: -100%;
      right: 0;
      top: 60px;
      bottom: 0;
      width: 100%;
      height: 100vh;
      background-color: #f8f8f8;
      z-index: 100;
      transition: left 1s;
      list-style: none;
      .NavList{
        margin-top:30px;
        li{
          padding: 15px;
        }
      }
    }

    .active {
      left: 0;
      top:60px;
    }

    .menu a {
      font-size: 28px;
    }
    .mobile_btn {
      display: none;
    }
  }
}

@media screen and (max-width: 1240px) {
  .MainWrapper {
    a {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 1170px) {
  .MainWrapper {
    a {
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 1120px) {
  .MainWrapper {
    overflow: visible;
    .Item {
      display: none !important;
    }
    .Catalog{
      display: none !important;
    }
    .ItemNav {
      display: flex !important;
      margin-left: -10px !important ;
    }
   
  }
  @media screen and (max-width: 500px) {
    .GregaLogo {
      height: 60px !important;
      width: 70px !important;
      margin-top: 15px;
      margin-left: 30px !important;
    }
  }
  @media screen and (max-width: 375px) {
    .sign {
      margin-right: 180px !important;
    }
    .signUp {
      margin-right: 80px !important;
    }
     .signOut {
      margin-right: 165px !important;
     }
  }
}
