.MainWrapper {
  justify-content: center;
  width: 1240px;
  height: 113px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  background: #a4161a;
  position: relative;
  align-items: center;
  margin-left: 10px;
}

.MainLogo {
  position: absolute;

  img {
    width: 94px;
    height: 68px;
    flex-shrink: 0;
    position: absolute;
    left: 50px;
    top: 21px;
  }
  svg {
    position: absolute;
    left: 50px;
    top: 9.5px;
  }
}

.MenuWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 800px 35px;
  text-align: center;
  position: relative;
  top: 33px;
  left: 40px;
  li {
    color: #ffffff;
    margin: 0 24px 0 0;
    list-style: none;
    width: 126.186px;
    height: 42px;
    flex-shrink: 0;
    background-color: #161a1d;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    a {
      width: 126.186px;
      height: 42px;
      color: #ffffff;
      padding-top: 30px;
    }
  }
  li:hover {
    background-color: #ffffff;
  }
  li a:hover {
    color: #161a1d;
    padding-top: 30px;
  }
}
