.MainWrapper {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 90px;
  background-color: #c91332;
  z-index: 10;

  .Headerbox {
    overflow: hidden;

    a {
      color: black;
      text-decoration: none;
    }
    .GregaLogo {
      margin-left: 60px;
      height: 85px;
      width: 100px;
      float: left;
    }
    .Catalog {
      padding: 5px;
      display: flex;
      align-items: center;
      background-color: rgb(253, 254, 255);
      border-radius: 5px;
      font-size: 1.7rem;
      margin-left: 30px;
      height: 35px;
      margin-top: 25px;
      float: left;
    }
    .Item {
      font-weight: 500;
      padding: 5px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      font-size: 1.4rem;
      margin-left: 30px;
      height: 35px;
      margin-top: 25px;
      float: left;
    }
    .sign {
      float: right;
      margin-top: -40px;
      cursor: pointer;
      margin-right: 160px;
    }
    .user {
      height: 33.5px;
      width: 33.5px;
      float: right;
      margin-top: -40px;
      margin-right: 115px;
    }
  }
  .Navigation {
    position: absolute;
    margin-left: 140px;
    margin-top: 15px;
    display: none;
  }
}

@media screen and (max-width: 1240px) {
  .MainWrapper {
    a {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 1170px) {
  .MainWrapper {
    a {
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 1120px) {
  .MainWrapper {
    overflow: visible;
    .menuItems{
      display: none;
    }
    .Navigation {
      display: block;
    }
    .sign {
      display: none;
    }
    .Catalog {
      opacity: 0;
    }
  }
}
@media screen and (max-width: 500px) {
  .GregaLogo {
    height: 60px !important;
    width: 70px !important;
    margin-top: 15px;
    margin-left: 30px !important;
  }
  .Navigation{
    margin-left: 90px !important;
  }
}
