hr {
    margin: 30px;
    background-color: black;
}
hr.grad {
    border: none; 
    background: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2px;

  }
  body {
    font: 15px/24px "Montserrat", Arial, sans-serif;
    box-sizing: border-box;
}

