hr {
    margin: 30px;
    background-color: black;
}
hr.grad {
    border: none; 
    background-color: black;
    height: 1px;
  }
  body {
    font: 15px/24px "Open Sans", Arial, sans-serif;
    
}