.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--empty {
    margin: 80px auto;
    width: 620px;
    text-align: center;

    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 15px;
      text-align: center;
    }

    p {
      font-size: 20px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }
    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
